.sign-in {
	display: flex;
	flex-direction: column;
	height: 100vh;

	&__section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0 2rem;
		text-align: center;
		flex: 0 1 100%;

		&__title {
			margin-bottom: 2rem;
			font-size: 2.5rem;
		}

		&--inverse {
			background-color: #0f2c59;
		}

		&:nth-child(2) {
			align-items: center;
			color: #fff;
		}
	}

	@media screen and (min-width: 1024px) {
		flex-direction: row-reverse;
	}

	&__register {
		display: inline-block;
		padding: 1rem 2rem;
		margin-top: 5rem;
		font-weight: 600;
		border: 0.125rem solid #fff;
		color: #fff;
		border-radius: 2rem;
		transition: all 250ms ease-in-out;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: #0f2c59;
		}
	}
}
